In [1]:
import pandas as pd
import numpy as np

# Importing Dataset

In [2]:
motor = pd.read_csv('Motor.csv')

In [3]:
motor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CRASH DATE                     1048575 non-null  object
 1   CRASH TIME                     1048575 non-null  object
 2   BOROUGH                        671910 non-null   object
 3   ZIP CODE                       671726 non-null   float64
 4   LATITUDE                       973773 non-null   float64
 5   LONGITUDE                      973773 non-null   float64
 6   LOCATION                       973773 non-null   object
 7   ON STREET NAME                 791561 non-null   object
 8   CROSS STREET NAME              505581 non-null   object
 9   OFF STREET NAME                255686 non-null   object
 10  NUMBER OF PERSONS INJURED      1048558 non-null  float64
 11  NUMBER OF PERSONS KILLED       1048545 non-null  float64
 12  NUMBER OF PEDESTRIANS INJURED  1048575 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   1048575 non-null  int64
 14  NUMBER OF CYCLIST INJURED      1048575 non-null  int64
 15  NUMBER OF CYCLIST KILLED       1048575 non-null  int64
 16  NUMBER OF MOTORIST INJURED     1048575 non-null  int64
 17  NUMBER OF MOTORIST KILLED      1048575 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  1044829 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  870100 non-null   object
 20  CONTRIBUTING FACTOR VEHICLE 3  77589 non-null    object
 21  CONTRIBUTING FACTOR VEHICLE 4  18048 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  5036 non-null     object
 23  COLLISION_ID                   1048575 non-null  int64
 24  VEHICLE TYPE CODE 1            1039916 non-null  object
 25  VEHICLE TYPE CODE 2            799608 non-null   object
 26  VEHICLE TYPE CODE 3            73175 non-null    object
 27  VEHICLE TYPE CODE 4            17146 non-null    object
 28  VEHICLE TYPE CODE 5            4834 non-null     object
dtypes: float64(5), int64(7), object(17)
memory usage: 232.0+ MB

# Normalization of the data

In [4]:
# first file contains the location of the crash
location = motor.iloc[:,0:10]

In [5]:
location["COLLISION_ID"] = motor.iloc[:,23]

In [6]:
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   CRASH DATE         1048575 non-null  object
 1   CRASH TIME         1048575 non-null  object
 2   BOROUGH            671910 non-null   object
 3   ZIP CODE           671726 non-null   float64
 4   LATITUDE           973773 non-null   float64
 5   LONGITUDE          973773 non-null   float64
 6   LOCATION           973773 non-null   object
 7   ON STREET NAME     791561 non-null   object
 8   CROSS STREET NAME  505581 non-null   object
 9   OFF STREET NAME    255686 non-null   object
 10  COLLISION_ID       1048575 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 88.0+ MB

In [7]:
# second file contains casualty for each accident
casualty = motor.iloc[:,10:18]
casualty["COLLISION_ID"] = motor.iloc[:,23]

In [8]:
casualty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   NUMBER OF PERSONS INJURED      1048558 non-null  float64
 1   NUMBER OF PERSONS KILLED       1048545 non-null  float64
 2   NUMBER OF PEDESTRIANS INJURED  1048575 non-null  int64
 3   NUMBER OF PEDESTRIANS KILLED   1048575 non-null  int64
 4   NUMBER OF CYCLIST INJURED      1048575 non-null  int64
 5   NUMBER OF CYCLIST KILLED       1048575 non-null  int64
 6   NUMBER OF MOTORIST INJURED     1048575 non-null  int64
 7   NUMBER OF MOTORIST KILLED      1048575 non-null  int64
 8   COLLISION_ID                   1048575 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 72.0 MB

In [9]:
# thrird file contains the type of vehicles include in the crash
vehicles = motor.iloc[:,24:29]
vehicles["COLLISION_ID"] = motor.iloc[:,23]

In [10]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   VEHICLE TYPE CODE 1  1039916 non-null  object
 1   VEHICLE TYPE CODE 2  799608 non-null   object
 2   VEHICLE TYPE CODE 3  73175 non-null    object
 3   VEHICLE TYPE CODE 4  17146 non-null    object
 4   VEHICLE TYPE CODE 5  4834 non-null     object
 5   COLLISION_ID         1048575 non-null  int64
dtypes: int64(1), object(5)
memory usage: 48.0+ MB

In [11]:
# fourth file CONTRIBUTING FACTOR
contributing = motor.iloc[:,18:24]

In [12]:
contributing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CONTRIBUTING FACTOR VEHICLE 1  1044829 non-null  object
 1   CONTRIBUTING FACTOR VEHICLE 2  870100 non-null   object
 2   CONTRIBUTING FACTOR VEHICLE 3  77589 non-null    object
 3   CONTRIBUTING FACTOR VEHICLE 4  18048 non-null    object
 4   CONTRIBUTING FACTOR VEHICLE 5  5036 non-null     object
 5   COLLISION_ID                   1048575 non-null  int64
dtypes: int64(1), object(5)
memory usage: 48.0+ MB

# Cleaning of location df

In [13]:
# So in location as we have latitde and longitude so we don't need borough,zip code,street name,cross street name and off street name
location = location.drop(columns=['BOROUGH', 'ZIP CODE', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME','LOCATION'])

In [19]:
# Date format in the file is not consistant so its very important to convert it to a same date object
#location['CRASH DATE'] = pd.to_datetime(location['CRASH DATE'])
#location['CRASH TIME'] = pd.to_datetime(location['CRASH TIME'])

In [20]:
# Removing if any duplicates are present not using the collision-id
location.drop_duplicates(subset=['COLLISION_ID'], keep='first', inplace=True)

In [21]:
location.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   CRASH DATE    1048575 non-null  object
 1   CRASH TIME    1048575 non-null  object
 2   LATITUDE      973773 non-null   float64
 3   LONGITUDE     973773 non-null   float64
 4   COLLISION_ID  1048575 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 48.0+ MB

In [22]:
#############################################################################??????????????????????????????????????????????
1048575 - 973773

74802

# Cleaning of casualty dataframe

In [23]:
# everything looks good in this file
casualty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   NUMBER OF PERSONS INJURED      1048558 non-null  float64
 1   NUMBER OF PERSONS KILLED       1048545 non-null  float64
 2   NUMBER OF PEDESTRIANS INJURED  1048575 non-null  int64
 3   NUMBER OF PEDESTRIANS KILLED   1048575 non-null  int64
 4   NUMBER OF CYCLIST INJURED      1048575 non-null  int64
 5   NUMBER OF CYCLIST KILLED       1048575 non-null  int64
 6   NUMBER OF MOTORIST INJURED     1048575 non-null  int64
 7   NUMBER OF MOTORIST KILLED      1048575 non-null  int64
 8   COLLISION_ID                   1048575 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 72.0 MB

# Cleaning of vehicles dataframe

In [24]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   VEHICLE TYPE CODE 1  1039916 non-null  object
 1   VEHICLE TYPE CODE 2  799608 non-null   object
 2   VEHICLE TYPE CODE 3  73175 non-null    object
 3   VEHICLE TYPE CODE 4  17146 non-null    object
 4   VEHICLE TYPE CODE 5  4834 non-null     object
 5   COLLISION_ID         1048575 non-null  int64
dtypes: int64(1), object(5)
memory usage: 48.0+ MB

In [25]:
# Impute missing values in 'VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2' and 'VEHICLE TYPE CODE 3'
vehicles['VEHICLE TYPE CODE 1'].fillna(vehicles['VEHICLE TYPE CODE 1'].mode()[0], inplace=True)
vehicles['VEHICLE TYPE CODE 2'].fillna(vehicles['VEHICLE TYPE CODE 2'].mode()[0], inplace=True)
vehicles['VEHICLE TYPE CODE 3'].fillna(vehicles['VEHICLE TYPE CODE 3'].mode()[0], inplace=True)

# Drop columns 'VEHICLE TYPE CODE 4', and 'VEHICLE TYPE CODE 5'
vehicles.drop(columns=['VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'], inplace=True)

# Check for and remove duplicate rows
vehicles = vehicles.drop_duplicates()

In [26]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   VEHICLE TYPE CODE 1  1048575 non-null  object
 1   VEHICLE TYPE CODE 2  1048575 non-null  object
 2   VEHICLE TYPE CODE 3  1048575 non-null  object
 3   COLLISION_ID         1048575 non-null  int64
dtypes: int64(1), object(3)
memory usage: 40.0+ MB

# Cleaning of contributing dataframe

In [27]:
contributing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CONTRIBUTING FACTOR VEHICLE 1  1044829 non-null  object
 1   CONTRIBUTING FACTOR VEHICLE 2  870100 non-null   object
 2   CONTRIBUTING FACTOR VEHICLE 3  77589 non-null    object
 3   CONTRIBUTING FACTOR VEHICLE 4  18048 non-null    object
 4   CONTRIBUTING FACTOR VEHICLE 5  5036 non-null     object
 5   COLLISION_ID                   1048575 non-null  int64
dtypes: int64(1), object(5)
memory usage: 48.0+ MB

In [28]:
contributing['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

Driver Inattention/Distraction                           258549
Unspecified                                              241848
Following Too Closely                                     90999
Failure to Yield Right-of-Way                             72183
Passing or Lane Usage Improper                            46498
Backing Unsafely                                          45505
Passing Too Closely                                       42256
Unsafe Lane Changing                                      33483
Other Vehicular                                           30199
Turning Improperly                                        24661
Traffic Control Disregarded                               20787
Unsafe Speed                                              20670
Driver Inexperience                                       17917
Reaction to Uninvolved Vehicle                            16703
Alcohol Involvement                                       12437
Pavement Slippery                                          9635
View Obstructed/Limited                                    8697
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      7189
Oversized Vehicle                                          6308
Aggressive Driving/Road Rage                               5485
Brakes Defective                                           3912
Fell Asleep                                                3487
Passenger Distraction                                      3354
Outside Car Distraction                                    2276
Obstruction/Debris                                         2204
Glare                                                      2114
Steering Failure                                           1709
Tire Failure/Inadequate                                    1432
Failure to Keep Right                                      1334
Illnes                                                     1278
Pavement Defective                                         1266
Lost Consciousness                                         1213
Fatigued/Drowsy                                            1168
Driverless/Runaway Vehicle                                 1015
Animals Action                                              958
Drugs (illegal)                                             697
Accelerator Defective                                       594
Lane Marking Improper/Inadequate                            491
Cell Phone (hand-Held)                                      411
Traffic Control Device Improper/Non-Working                 408
Physical Disability                                         336
Other Electronic Device                                     152
Tinted Windows                                              122
Using On Board Navigation Device                            116
Tow Hitch Defective                                         111
Other Lighting Defects                                      109
Vehicle Vandalism                                           104
Eating or Drinking                                          101
Prescription Medication                                      99
Headlights Defective                                         64
Cell Phone (hands-free)                                      50
Shoulders Defective/Improper                                 45
Texting                                                      40
Windshield Inadequate                                        28
Listening/Using Headphones                                   18
Reaction to Other Uninvolved Vehicle                          3
80                                                            1
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

# Save cleaned files

In [29]:
# Save the cleaned dataset to a new file or variable
location.to_csv('cleaned_location.csv', index=False)
casualty.to_csv('cleaned_casualty.csv', index=False)
vehicles.to_csv('cleaned_vehicles.csv', index=False)
contributing.to_csv('cleaned_contributing.csv', index=False)

# Importing files to SQL

In [1]:
import mysql.connector
from getpass import getpass

In [2]:
username = input("Enter your MySQL username: ")
password = getpass("Enter your MySQL password: ")

Enter your MySQL username: root
Enter your MySQL password: ········

In [3]:
host = "localhost"  # Change this to your MySQL server hostname or IP address
database = "mysql"  # Change this to the name of your data

In [4]:
try:
    # Establish a connection to the MySQL server
    connection = mysql.connector.connect(
        host=host,
        user=username,
        password=password,
    )

    if connection.is_connected():
        print("Connected to the MySQL server")
except mysql.connector.Error as e:
    print(f"Error: {e}")

Connected to the MySQL server

In [5]:
mycursor = connection.cursor()

In [6]:
mycursor.execute("use mysql")

In [17]:
mycursor.execute("create table location(crash_date date,crash_time varchar(5),latitude varchar(20),longitude varchar(20),collision_id int Not Null,constraint loc_pk primary key(collision_id))")

In [18]:
mycursor.execute("create table vehicles(VEHICLE_TYPE_CODE_1 varchar(20), VEHICLE_TYPE_CODE_2 varchar(20), VEHICLE_TYPE_CODE_3 varchar(20),collision_id int Not Null,Constraint foreign key (collision_id) references location(collision_id),constraint veh_pk primary key location(collision_id))")

In [19]:
mycursor.execute("create table casulty(NUMBER_OF_PERSONS_INJURED FLOAT(3), NUMBER_OF_PERSONS_KILLED FLOAT(3),NUMBER_OF_PEDESTRIANS_INJURED int, NUMBER_OF_PEDESTRIANS_KILLED int, NUMBER_OF_CYCLIST_INJURED int, NUMBER_OF_CYCLIST_KILLED int, NUMBER_OF_MOTORIST_INJURED int, NUMBER_OF_MOTORIST_KILLED int, collision_id int Not Null,Constraint foreign key (collision_id) references location(collision_id),constraint cua_pk primary key(collision_id))")

In [21]:
mycursor.execute("create table contributing(CONTRIBUTING_FACTOR_VEHICLE_1 varchar(50), CONTRIBUTING_FACTOR_VEHICLE_2 varchar(50), CONTRIBUTING_FACTOR_VEHICLE_3 varchar(50), CONTRIBUTING_FACTOR_VEHICLE_4 varchar(50), CONTRIBUTING_FACTOR_VEHICLE_5 varchar(50), collision_id int Not Null,constraint loc_pk primary key(collision_id), Constraint foreign key (collision_id) references location(collison_id)")

In [62]:

sql = "ALTER TABLE mysql.location MODIFY crash_date VARCHAR(20);"

mycursor.execute(sql)
connection.commit()